.main-footer {
  background-color: var(--secondary-background);
  width: 100vw;
  height: 300px;
  position: absolute;
  top: 2820px;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  padding: 30px;
  color: var(--dark-text);
}
