#main-navigation {
  min-width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
}

header#title {
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}

.nav-list {
  list-style: none;
  display: flex;
  max-width: 50%;
  min-width: 50%;
  justify-content: space-between;
}

.nav-item {
  font-size: 2rem;
  color: var(--light-dark);
  font-weight: 500;
  text-decoration: none;
  font-family: "cabin";
}

.nav-item::before {
  content: "< ";
  color: var(--dark-text);
}

.nav-item::after {
  content: " />";
  color: var(--dark-text);
}

.nav-item:hover {
  color: white;
}

.nav-item:hover::after,
:hover::before {
  color: var(--accent);
}
