.main-navigation {
  width: 98vw;
  color: var(--primary-text);
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-navigation h1#initial {
  font-size: 2.4rem;
  font-family: "codenext", sans-serif;
}

.hamburger-menu{
    
}