@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("./navigation.css");

@font-face {
  font-family: "codenext";
  src: url("/assets/fonts/CodeNext-ExtraBold.woff");
}

:root {
  --primary-background: black;
  --secondary-background: rgba(24, 24, 35, 0.75);
  --primary-heading: darkslategray;
  --primary-text: white;
  --accent: #5221e6;
  --hover: #242431;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "cabin";
}

body {
  background-color: var(--primary-background);
}

.follow-blob {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 100px;
  width: 100px;
  background-color: rgba(32, 105, 241, 0.2);
}
