#work {
  position: relative;
}

#work .section-heading {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 78px;
  left: 15vw;
}

.sub-section {
  position: relative;
}

.sub-section-heading {
  color: var(--primary-color);
  font-size: 128px;
  opacity: 15%;
  font-family: "Cabin";
  position: absolute;
  text-transform: uppercase;
  top: 0;
  right: 0;
}

.sub-section-heading::selection {
  background-color: var(--primary-color);
  color: white;
}

.projects {
  position: relative;
}

.project {
  position: relative;
  top: 200px;
  z-index: 5;
  left: 150px;
  display: flex;
  align-items: center;
}

.project div {
  position: relative;
  left: 20px;
}

.project div h2 {
  font-size: 32px;
  padding-bottom: 40px;
}

.project div span {
  font-size: 20px;
  color: var(--light-dark);
  font-weight: 500;
}

.project div h2::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 2px;
  background-color: white;
  display: block;
  left: -100px;
  margin: 20px 0px;
}

.project img {
  width: 560px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
